@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;400;800&display=swap');

body {
    font-family: 'Roboto condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E4A436;
  }

  .cta-btn {
    margin:6px;
    position: relative;
    display: inline-block;
    padding: 4% 12%;
    background-color: #EA6C25;
    color: #fff1ea;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 6px 6px 0 0 #BE1E04;
    transition: all 0.3s ease-in-out;
  }

  .cta-btn:hover {
    background-color: #ff5e00;
    color: #fff;
    box-shadow: 6px 6px 0 0 #ff2200;
  }

  .green-btn {
    margin:6px;
    position: relative;
    display: inline-block;
    padding: 4% 12%;
    background-color: #9A925A;
    color: #fffbe0;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 6px 6px 0 0 #56451A;
    transition: all 0.3s ease-in-out;
    min-width: max-content;
  }

  .green-btn:hover {
    background-color: #c5b74e;
    color: #fff;
    box-shadow: 6px 6px 0 0 #896200;
  }

  .blue-btn {
    margin:6px;
    position: relative;
    display: inline-block;
    padding: 4% 12%;
    background-color: #4DA09D;
    color: #fffbe0;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 6px 6px 0 0 #3B5152;
    transition: all 0.3s ease-in-out;
    min-width: max-content;
  }

  .blue-btn:hover {
    background-color: #42c1bd;
    color: #fff;
    box-shadow: 6px 6px 0 0 #3a8385;
  }

  main {
    flex: 1;
  }

  header {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin:0;
    padding:0;
  }

  h1 {
    font-size: 3vw;
    margin: 0;
    padding: 0;
    color:#fff;
    width: max-content;
    text-transform: uppercase;
    border-bottom: #fff solid 2px;
  }

  h2 {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    color:#333;
    width: max-content;
    text-transform: uppercase;
  }

  p {
    font-size:2vw;
    color:#fff;
  }

  .hero-image {
      width: 100%;
      height: auto;
      display: block;
  }

  @media screen and (max-width: 500px) {
    .hero-image {
      height:100vh;
      object-fit: cover;
      object-position:15%;
    }
  }

  @media screen and (min-width: 800px) {
    .hero-image {
      height:100vh;
      object-fit: cover;
    }
  }

  .hero-content {
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -70%);
      text-align: center;
      color: #fff;
  }

  @media screen and (max-width: 500px) {
    .hero-content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      align-items: center;
      justify-content: center;
      margin:0 auto;
      display: flex;
      flex-direction: column;
    }
    .hero-content h1,
    .hero-content h2,
    .hero-content p,
    .hero-content .cta-btn,
    .hero-content .green-btn {
      color:#fff;
      width:initial !important;
      margin:0 auto;
      min-width:initial !important;
      margin:20px;
      border-bottom: none !important;
    }
    .hero-content h1 {
      font-size: 14vw !important;
    }
    .hero-content h2 {
      font-size: 8vw !important;
    }
    .hero-content p {
      font-size: 8vw !important;
    }
    .hero-content button {
      font-size: 6vw !important;
    }
  }

  .hero-content h1 {
    width: max-content;
    font-size:4vw;
    border-bottom: #fff solid 2px;
    line-height: 120%;
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
  }

  .hero-content h2 {
    width: max-content;
    font-size:2vw;
    margin: 0;
    padding: 0;
  }
  
  .hero-content p {
    font-size:2vw;
  }

  nav {
    font-size: 2vw;
    display: flex;
    position: absolute;
    text-align: center;
    width:90vw;
    justify-content:center;
    top:0;
    left:20%;
    padding:10px;
    box-sizing: border-box;
    z-index: 2;
  }

  nav a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
  }
  
  .burger-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    z-index: 3;
    color:#fff;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  @media (max-width: 800px) {
    nav {
      position: fixed;
      flex-direction: column;
      align-items: initial;
      justify-content:initial;
      width:100%;
      top:0;
      left:0;
      padding:0;
      box-sizing: border-box;
    }
    nav div {
      margin: 0;
      background-color: rgb(255, 153, 0);
    }

    nav a {
      color:#fff;
      font-size: 2rem;
    }

    .burger-icon {
      display: block;
    }

    .nav-links {
      display: none;
      width: 100%;
      background-color: rgb(81, 255, 0);
    }

    .nav-links.show {
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      width:100vw;
      height:100vh;
      background-color: rgba(0, 0, 0, 0.70);
    }
  }

  .section-slanted {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0;
    height:30%;
    width: 100%;
    padding:0;
    background-color: #EA6B26;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%, 0% 0%);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0;
    height:50%;
    width: 90%;
    padding:0;
  }

  .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0;
    height:30%;
    width: 100%;
    padding:0;
  }

  .section-slanted img,
  .section2 img {
    width:100%;
  }

  .text {
      flex: 1;
      order: 1;
      width: 100%;
      text-align: left;
  }

  .image {
      flex: 1;
      order: 2;
  }

  @media (max-width: 600px) {
      .section {
          flex-direction: column;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin:auto;
          padding: 20px;
          height:50%;
          max-width: 100%;
      }

      .section img {
        width:auto;
        height: 30vh;
      }

      .text,
      .image {
          order: 0;
          flex: none;
          text-align: center;
          max-width:min-content;
      }
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    width: 100%;
  }