@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;400;800&display=swap');

body {
    font-family: 'Roboto condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EA6B26;
  }

  .cta-btn {
    margin:6px;
    position: relative;
    display: inline-block;
    padding: 4% 12%;
    background-color: #EA6C25;
    color: #fff1ea;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 6px 6px 0 0 #BE1E04;
    transition: all 0.3s ease-in-out;
  }

  .cta-btn:hover {
    background-color: #ff5e00;
    color: #fff;
    box-shadow: 6px 6px 0 0 #ff2200;
  }

  .green-btn {
    margin:6px;
    position: relative;
    display: inline-block;
    padding: 4% 12%;
    background-color: #9A925A;
    color: #fffbe0;
    font-size: 1.5vw;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 6px 6px 0 0 #56451A;
    transition: all 0.3s ease-in-out;
    min-width: max-content;
  }

  .green-btn:hover {
    background-color: #c5b74e;
    color: #fff;
    box-shadow: 6px 6px 0 0 #896200;
  }

  main {
    flex: 1;
  }

  header {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .hero-image {
      width: 100%;
      height: auto;
      display: block;
  }

  @media screen and (max-width: 500px) {
    .hero-image {
      height:100vh;
      object-fit: cover;
      object-position:15%;
    }
  }

  @media screen and (min-width: 800px) {
    .hero-image {
      height:100vh;
      object-fit: cover;
    }
  }

  .hero-content {
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -70%);
      text-align: center;
      color: #fff;
  }

  .hero-content h1 {
    width: max-content;
    font-size:4vw;
    border-bottom: #fff solid 2px;
    line-height: 120%;
    margin-top: 0;
    padding-top: 0;
    text-transform: uppercase;
  }

  .hero-content h2 {
    width: max-content;
    font-size:2vw;
    margin: 0;
    padding: 0;
  }
  
  .hero-content p {
    font-size:2vw;
  }

  nav {
    display: flex;
    position: absolute;
    text-align: center;
    width:90vw;
    justify-content:center;
    top:0;
    left:20%;
    padding:10px;
    box-sizing: border-box;
    z-index: 2;
  }

  nav a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
  }
  
  .burger-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    z-index: 3;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  @media (max-width: 800px) {
    nav {
      position: fixed;
      flex-direction: column;
      align-items: initial;
      justify-content:initial;
      width:100%;
      top:0;
      left:0;
      padding:0;
      box-sizing: border-box;
    }
    nav div {
      margin: 0;
      background-color: rgb(255, 153, 0);
    }

    nav a {
      color:#fff;
      font-size: 2rem;
    }

    .burger-icon {
      display: block;
    }

    .nav-links {
      display: none;
      width: 100%;
      background-color: rgb(81, 255, 0);
    }

    .nav-links.show {
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      width:100vw;
      height:100vh;
      background-color: rgba(0, 0, 0, 0.70);
    }
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height:70vh;
  }

  .section img {
    width:50vw;
  }

  .text {
      flex: 1;
      order: 1;
  }

  .image {
      flex: 1;
      order: 2;
  }

  .text img {
      max-width: 100%;
      height: auto;
  }

  @media (max-width: 800px) {
      .section {
          flex-direction: column;
      }

      .text,
      .image {
          order: 0;
          flex: none;
      }
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
  }