{% extends 'base.html' %}

{% block content %}

<style>
  .booking-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 50px;
    margin-bottom: 100px;
  }
  .divider {
    margin: 40px 0;
    border-bottom: 1px solid #ebe0e0;
  }
</style>

<div class="container">
  <div class="center">
    <h2>Welcome, {{ user }}</h2>
  </div>
  <div class="container">

    {% for booking in bookings %}
    <div class="booking-content">
      <h3>Your booking:</h3>
      <p><strong>User: {{ booking.user }}</strong></p>
      <p><strong>First name:</strong> {{ booking.First_name }}</p>
      <p><strong>Last name:</strong> {{ booking.Last_name }}</p>
      <p><strong>Email:</strong> {{ booking.Email }}</p>
      <p><strong>Phone:</strong> {{ booking.Phone }}</p>
      <p><strong>Guests:</strong> {{ booking.guests }}</p>
      <p><strong>Day:</strong> {{ booking.day }}</p>
      <p><strong>Time:</strong> {{ booking.time }}</p>
      <a href="/edit/{{ booking.id }}" class="secondary-button">Edit your booking</a>
      <br>
      <a href="/delete/{{ booking.id }}"class="call-to-action">Cancel your booking</a>
      <div class="divider"></div>
      <a href="{% url 'logout_user' %}" class="secondary-button">Logout</a>
    </div>
    {% endfor %}

    {% for booking in bookings %}
      {% empty %}
      <div class="booking-content">
        <p>You currently have no reservation.</p>
        <a href="{% url 'booking' %}" class="call-to-action">Create a reservation</a>
        <a href="{% url 'index' %}" class="secondary-button">Go back to Homepage</a>
        <a href="{% url 'logout_user' %}" class="secondary-button">Logout</a>
      </div>
    {% endfor %}
  </div>
</div>

	
{% endblock %}