{% extends 'base.html' %}

{% block content %}
<style>
    form label {
        display: none;
    }

    select, input {
        padding: 10px;
        border: 1px solid #F7C4CA;
        border-radius: 50px;
        width: 100%;
        font-size: 16px;
        background-color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 30px;
        margin-top:20px;
    }

    select :focus {
        outline: none;
        border-color: #ff4a0b;
    }
</style>
<div class="container">
    <div class="center">
        <h2>Update booking:</h2>
    </div>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update booking</button>
            <a href="{% url 'index' %}" class="secondary-button">Go back to Homepage</a>
            <a href="{% url 'account' %}" class="secondary-button">Return to account</a>
        </form>
    </div>
</div>
{% endblock %}