{% extends 'base.html' %}

{% block content %}
<style>
      select, input {
        padding: 10px;
        border: 1px solid #F7C4CA;
        border-radius: 50px;
        width: 100%;
        font-size: 16px;
        background-color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 30px;
        margin-top:20px;
    }

    select :focus {
        outline: none;
        border-color: #ff4a0b;
    }
</style>
<div class="container">
  <div class="center">
    <h2>Customize</h2>
  </div>

  <form method="post" action="{% url 'customize_order' item_id=menu_order.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add to Order</button>
  </form>
</div>
{% endblock %}
