{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="{% static 'script/script.js' %}"></script>
  <title>CafeZest</title>
</head>
<body>
    <main>
    <header>
        <img class="hero-image" src="../media/hero.jpg" alt="Hero Image">
        <div class="burger-icon" onclick="toggleNav()">☰</div>
        <nav onclick="hideNav()">
            <div class="nav-links">
                <a href="#">About</a>
                <a href="#">Booking</a>
                <a href="#">Logo</a>
                <a href="#">Catering</a>
                <a href="#">Contact</a>
            </div>
        </nav>
        <div class="hero-content">
            <h2>Need some Zest?</h2>
            <h1 class="hero-tagline">CafeZest's New Blend</h1>
            <p>Try today and earn points!</p>
            <button class="cta-btn">Learn More</button>
            <button class="green-btn">Join our Membership Program</button>
        </div>
    </header>

    <div class="section-slanted">
        <div class="container">
        <div class="text">
            <h2>Where tradition</h2>
            <h1>meets a fresh, vibrant spirit</h1>
            <p>Rooted in the rich tapestry of French heritage.</p>
            <p>Catering to both the young and the young at heart.</p>
            <button class="blue-btn">Read more</button>
        </div>
        <div class="image">
            <img src="../media/cafe-bg-transparent.png" alt="Image">
        </div>
    </div>
    </div>

    <div class="section2">
        <div class="container">
        <div class="menu-item">
          <img src="media/macchiato.png" alt="Macchiato">
          <h2>Macchiato</h2>
          <p>A delicious espresso coffee with a dollop of frothy milk.</p>
          <button class="blue-btn">$4.99</button>
        </div>
    
        <div class="menu-item">
          <img src="media/dalgona.png" alt="Dalgona Coffee">
          <h2>Dalgona Coffee</h2>
          <p>A trendy and creamy coffee topped with whipped coffee foam.</p>
          <button class="blue-btn">$5.99</button>
        </div>
    
        <div class="menu-item">
          <img src="media/ice-tea.png" alt="Ice Tea">
          <h2>Ice Tea</h2>
          <p>Refreshing iced tea served with a hint of citrus and sweetened to perfection.</p>
          <button class="blue-btn">$3.99</button>
        </div>
    </div>
    </div>

    <div class="newsletter-section">
        <div class="newsletter-image">
          <img src="media/3coffees.png" alt="Left Image">
        </div>
    
        <div class="newsletter-content">
          <img src="media/coffee-cherries.jpg" alt="Right Image">
          <h2>Join our community</h2>
          <h1>Subscribe to Our Newsletter</h1>
          <div class="newsletter-form">
            <input type="email" placeholder="Your email address" required>
            <button class=" blue-btn" type="submit">Subscribe</button>
          </div>
        </div>
    </div>
    </main>
  
    <footer>
      <p>&copy; 2024 CafeZest. All rights reserved.</p>
    </footer>
  </body>
  </html>